header{

    display: flex;
    justify-content: space-between;
    margin: 10px 28px;
    align-items: center;  
    position: relative; 
    

}
header button{
    margin-bottom: 33px;
}


ul{
    display: flex;
    gap: 3rem; 
    font-size: 4rem;
}

li{
    list-style: none;
    font-size: 30px;
}

.logo{
    float: right;
    margin-left: 20px;
    margin-top: -21px;

}

 

#sec0{
    display: flex;
    justify-content: space-between;
    height:730px;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-top: 80px;
    flex-grow: 1;
    padding-left: 65px;
}

p{    width:1,209px;
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 50Px;
}
h1{
    font-size: 57px;
    text-shadow: 0 3px 5px rgba(200, 200, 200, 1);
    font-family: sans-serif

}
button{
    margin-top: 40px;
    font-size: 30px;
    padding: 8px 16px;
    background-color: #3E3232;
    color: #DFCECE;
    border: none;

}

#sec1{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0px 90px ;
    /* space-around (espace autour et au milieu des elements, space-between(espace entre les elements) */

}
.right{
    width: 600px;
    right: 400Px;

}

.right h1{
    font-size: 55px;

}

.right p{
    font-size: 24px;
    width: 500px;
    height: 234px;
    
}

#sec2{
    display: flex;
    justify-content: space-around;
    background-color: #3E3232;
    margin: 150px 0px 150px 0px;
}

#sec2 div{
    width: max-content;
}

#sec2 h1{
   font-size: 55px;
}

#sec2 p{
    font-size: 24px;
    width: 349px;
}

.un{
    width:600px;
    height:400px ;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.deux{
    width: 600px;
    height:400px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.trois{
    width: 600px;
    height: 400px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

#sec3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sec3 div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produits{
  position: absolute;
}

#sec4{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 164px 0px;
 background-color: #DFCECE;
 margin: 237px 0px;
}

#sec4 form{
  display: flex;
  flex-direction:column ;
  align-items: center;
  width: 700px;
  gap: 30px;
}
#sec4 input{
    height: 96px;
    border: solid;
    width: 100%;

}

#sec4 div{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

#sec4 button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 30px;
    width: 80%;
}
footer{
    background-color: #3E3232;
    height: 647px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
footer img{
    width: 664px;
    height: 274.44px;
}


